@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 8em;
  font-weight: 700;
  text-transform: uppercase;
  background: #3d3d3d;
  color: #25df54;
}

.container {
  position: relative;
  display: flex;
  background: #3d3d3d;
}

.container span {
  position: sticky;
  top: 0;
  width: 10%;
  height: 100vh;
  background: #25df54;
  margin-top: calc(100vh * var(--i));
}

.A {
  position: relative;
  background: linear-gradient(0deg, #fcf80c, #f828dc, #5d25df, #25dfa7, #25df54);
  display: flex;
  justify-content: center;
}

.A span {
  position: sticky;
  top: 0;
  line-height: 100vh;
  height: 100vh;
  color: #fff;
  font-size: 6em;
  margin-top: calc(100vh * var(--i));
}

.separator-1 {
  position: relative;
  background: #fcf80c;
  width: 10vh;
}

.B {
  position: relative;
  background: linear-gradient(0deg, #fd2617, #fc66ef, #04b6fc, #28f855, #fcf80c);
  display: flex;
  justify-content: center;
}

.B span {
  position: sticky;
  top: 0;
  line-height: 100vh;
  height: 100vh;
  color: #fff;
  font-size: 6em;
  margin-top: calc(100vh * var(--i));
}

.container-2 {
  position: relative;
  display: flex;
  background: #3d3d3d;
}

.container-2 span {
  position: sticky;
  top: 0;
  width: 10%;
  height: 100vh;
  background: #fd2617;
  margin-bottom: calc(100vh * var(--i));
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 8em;
  font-weight: 700;
  text-transform: uppercase;
  background: #3d3d3d;
  color: #fd2617;
}

.container-3 {
  position: relative;
  display: flex;
  background: linear-gradient(#fd2617, #fdf917);
}

.container-3 span {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #3d3d3d;
  margin-bottom: calc(50vh * var(--i));
}

.container-4 {
  position: relative;
  display: flex;
  background: #3d3d3d;
}

.container-4 span {
  position: sticky;
  top: 0;
  width: 10%;
  height: 200vh;
  background: linear-gradient(#fdf917, #17fd17, #178efd);
  margin-bottom: calc(50vh * var(--i));
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  background: #3d3d3d;
  color: #1754fd;
}

@media (max-width: 991px) {
  .top {
    font-size: 7em;
    max-height: 100vh;
  }
  .mid {
    font-size: 7em;
  }
  .bottom {
    text-align: center;
    font-size: 6em;
    padding: 0 3rem;
  }
}
